{{template "base" .}}
{{define "content"}}
    {{if eq .IsAuthenticated 0}}
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
            <a class="w-24 mt-2 mb-2" href="/user/login">
                <button class="std-button w-24">Log In!</button>
            </a>
            or
            <a class="w-24 mt-2 mb-2" href="/user/signup">
                <button class="std-button w-24">Sign Up!</button>
            </a>
        </div>
    {{else}}
        <div class="flex flex-col items-center">
            {{$user := index .Data "user"}}
            <h1 class="mt-4">Recipe App</h1>
            <h2>Welcome {{$user.Name}}</h2>
            <div class="w-32">
                <a href="/recipe/new">
                    <button class="std-button mt-6 w-32">+ New Recipe!</button>
                </a>
            </div>
        </div>
    {{end}}
        {{range index .Data "recipes"}}
            <a href="/recipe/details/{{.ID}}">
                <div class="card">
                    <p class="text-lg font-bold">{{.Title}}</p>
                    <p class="text-xs">Created by: {{ .User.Name}}</p>
                    <p class="text-xs">Last updates: {{formatTime .UpdatedAt "2006-02-01"}}</p>
                </div>
            </a>
        {{end}}
{{end}}