{{template "base" .}}

{{define "content"}}
    <div class="mt-4 card">
        <h4>Basic Info</h4>
        <div class="flex p-2">
            <label class="std-label" for="title">Title</label>
            <input class="std-input" type="text" id="title" name="title">
        </div>
    </div>
    <div class="mt-4 p-2 card">
        <div class="p-2 flex justify-center">
            <img class="w-1/2 max-w-full" id="recipe-image" src="/static/img/placeholder.png" alt="recipe-image">
        </div>
        <form class="flex flex-col" id="upload-form">
            <input class="mt-2 std-input-rounded" type="file" id="image-upload" accept="image/*">
            <button class="mt-2 w-48 std-button" type="submit">Upload</button>
        </form>
    </div>
    <div class="mt-4 p-2 card">
        <h4 class="">Ingredients</h4>
        <div class="divider"></div>
        <div id="ingredient-list"></div>
        <div class="flex">
            <label class="std-label" for="amount">Amount</label>
            <input class="std-input" type="text" id="amount" name="amount">
        </div>
        <div class="flex pt-2">
            <label class="std-label" for="unit">Units</label>
            <input class="std-input" type="text" id="unit" name="unit">
        </div>
        <div class="flex pt-2">
            <label class="std-label" for="name">Name</label>
            <input class="std-input" type="text" id="name" name="name">
        </div>
        <button id="add-ingredient" class="std-button mt-4 w-48">Add Ingredient</button>
    </div>

    <div class="mt-4 p-2 card">
        <h4 class="">Directions</h4>
        <div class="divider"></div>
        <div id="direction-list"></div>
        <div class="flex flex-col">
            <label class="std-label border rounded-md" for="direction">Direction</label>
            <textarea class="p-2 border border-blue-800 rounded-md mt-2" name="direction" id="direction" cols="30"
                      rows="5"></textarea>
        </div>
        <button id="add-direction" class="std-button mt-4 w-48">Add Direction</button>
    </div>
    <div class="p-2 flex justify-center">
        <button id="submit-recipe" class="std-button w-48">Submit New Recipe</button>
    </div>
{{end}}

{{define "js"}}
    <script>
        // Vars
        let recipe = {};
        let title = "";
        let ingredients = [];
        let directions = [];
        let image = ""

        // Functions

        const addError = (el) => {
            el.classList.add("border-red-800")
            el.classList.add("bg-red-300")
        }

        const removeError = (el) => {
            el.classList.remove("border-red-800")
            el.classList.remove("bg-red-300")
        }

        const createIngredient = (id, amount, unit, name) => {
            // Main Div
            let el = document.createElement("div")
            el.className = "flex flex-col"
            el.id = `${id}`
            el.textContent = `${amount} ${unit} ${name}`

            //Button
            let btn = document.createElement("button")
            btn.className = "std-button w-24"
            btn.textContent = "Delete me"
            btn.addEventListener("click", () => {
                ingredients = ingredients.filter((ingredient) => {
                    return ingredient.id !== id
                })
                el.parentNode.removeChild(el)
            })
            el.appendChild(btn)


            let divider = document.createElement("div")
            divider.className = ("divider")
            el.appendChild(divider)

            return el;
        }

        const handleAddIngredient = () => {
            let ingredient = {
                errors: {
                    name: false,
                    amount: false,
                    unit: false,
                }
            }


            // Get name and validate
            let iName = document.getElementById("name")
            if (!has(iName.value)) {
                addError(iName)
                ingredient.errors.name = true;
            } else {
                removeError(iName)
                ingredient.errors.name = false
            }

            // Get amount and validate
            let iAmount = document.getElementById("amount")
            if (!validAmount(iAmount.value)) {
                addError(iAmount)
                ingredient.errors.amount = true
            } else {
                ingredient.errors.amount = false
                removeError(iAmount)
            }

            // Get unit and validate
            let iUnit = document.getElementById("unit")
            if (!has(iUnit.value)) {
                addError(iUnit)
                ingredient.errors.unit = true;
            } else {
                removeError(iUnit);
                ingredient.errors.unit = false;
            }

            if (ingredient.errors.name || ingredient.errors.amount || ingredient.errors.unit) {
                return
            }

            ingredient.id = Date.now();
            ingredient.name = iName.value;
            ingredient.amount = iAmount.value;
            ingredient.unit = iUnit.value;

            // Reset fields
            iName.value = ""
            iAmount.value = ""
            iUnit.value = ""

            ingredients.push(ingredient)

            document.getElementById("ingredient-list")
                .appendChild(
                    createIngredient(ingredient.id, ingredient.amount, ingredient.unit, ingredient.name)
                )
        }

        const createDirection = (id, direction) => {
            let el = document.createElement("div")
            el.className = "flex flex-col"
            el.id = `${id}`
            el.textContent = direction

            //Button
            let btn = document.createElement("button")
            btn.className = "std-button w-24"
            btn.textContent = "Delete me"
            btn.addEventListener("click", () => {
                directions = directions.filter((direction) => {
                    return direction.id !== id
                })
                el.parentNode.removeChild(el)
            })
            el.appendChild(btn)


            let divider = document.createElement("div")
            divider.className = ("divider")
            el.appendChild(divider)

            return el;
        }

        const handleAddDirection = () => {
            let direction = {errors: {direction: false}}

            let directionEl = document.getElementById("direction")
            if (!has(directionEl.value)) {
                addError(directionEl)
                direction.errors.direction = true;
            } else {
                removeError(directionEl)
                direction.errors.direction = false
            }

            if(direction.errors.direction){
                return
            }

            direction.id = Date.now()
            direction.direction = directionEl.value


            directions.push(direction)
            directionEl.value = ""
            document.getElementById("direction-list")
                .appendChild(
                    createDirection(direction.id, direction.direction)
                )
        }


        const validRecipe = (recipe) => {
            let titleEl = document.getElementById("title")
            if (recipe.title.length <= 0) {
                addError(titleEl)
                return false
            }else {
                removeError(titleEl)
            }

            if (ingredients.length <= 0) {
                notify("error", "Please add an ingredient")
                return false
            }

            if (directions.length <= 0) {
                return false
            }
            return true
        }

        const handleSubmit = () => {
            title = document.getElementById("title").value
            recipe = {
                title,
                ingredients,
                directions,
                image,
            }
            if (!validRecipe(recipe)) {
                return
            }
            fetch("/recipe/new", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(recipe)
            }).then((res) => {
                if (res.redirected === true) {
                    window.location.href = res.url
                }
            }).catch((err) => {
                console.log(err)
            })
        }


        // Logic
        let addIngredient = document.getElementById("add-ingredient")
        addIngredient.addEventListener("click", handleAddIngredient)

        document.getElementById("add-direction")
            .addEventListener("click", handleAddDirection)

        document.getElementById("submit-recipe")
            .addEventListener("click", handleSubmit)

        // Restrict amount input
        document.getElementById("amount")
            .addEventListener("input", (event) => {
                //Only allow for decimals and fractions
                const pattern = new RegExp("^\\d*(\\.\\d*)?(\\/\\d*)?$");
                if (!pattern.test(event.target.value)) {
                    event.target.value = event.target.value.slice(0, -1);
                }
            })
        //Handle Images
        document.getElementById('upload-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const fileInput = document.getElementById('image-upload');
            const file = fileInput.files[0];
            resizeImage(file, IMAGE_SIZE, IMAGE_SIZE, function (resizedImage) {
                // resizedImage is the base64 string of the resized image
                image = resizedImage
                let img = document.getElementById("recipe-image")
                img.src = `data:image/png;base64,${image}`;
            });

        });
    </script>
{{end}}